[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
newspaper3k = "*"
lxml = {extras = ["html_clean"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
